<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mon compte | Square</title>
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.0/dist/alpine.js" defer></script>
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="antialiased">
  {% include "includes/header.html" %}
  <div class="container mx-auto md:space-y-6 px-4 md:px-6 lg:px-8 pb-16 pt-12 sm:pt-16">
    {% if status() %}
    <div class="rounded-md bg-indigo-50 p-4">
      <div class="flex">
        <div class="flex-shrink-0">
          <svg class="h-5 w-5 text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
            fill="currentColor">
            <path fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
              clip-rule="evenodd" />
          </svg>
        </div>
        <div class="ml-3">
          <p class="text-sm font-medium text-indigo-800">
            {{ status() }}
          </p>
        </div>
      </div>
    </div>
    {% endif %}
    <form action="{{ route('home.updateName') }}" method="POST" class="space-y-8 divide-y divide-gray-200" novalidate>
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Identité
        </h3>
        <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
          {{ csrf_field()|raw }}
          {{ method('PATCH')|raw }}
          <div class="sm:col-span-4">
            <label for="name" class="block text-sm font-medium text-gray-700">
              Nom complet
            </label>
            <div class="mt-1 {% if errors('name') %} relative rounded-md shadow-sm {% endif %} ">
              <input id="name" name="name" value="{{ old('name', user.name) }}" type="text"
                class="block w-full sm:text-sm rounded-md shadow-sm {% if errors('name') %}border-red-300 text-red-900 placeholder-red-300 focus:outline-none focus:ring-red-500 focus:border-red-500{% else %}focus:ring-indigo-500 focus:border-indigo-500 border-gray-300{% endif %}">
                {% if errors('name') %}
                <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                  <svg class="h-5 w-5 text-red-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                    fill="currentColor">
                    <path fill-rule="evenodd"
                      d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                      clip-rule="evenodd" />
                  </svg>
                </div>
                {% endif %}
            </div>
            {% if errors('name') %}
            <p class="mt-2 text-sm text-red-600">{{ errors('name')[0] }}</p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="pt-5">
        <div class="flex justify-end">
          <button type="submit"
            class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Modifier le nom
          </button>
        </div>
      </div>
    </form>

    <form action="{{ route('home.updateEmail') }}" method="POST" class="space-y-8 divide-y divide-gray-200" novalidate>
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Adresse e-mail
        </h3>
        <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
          {{ csrf_field()|raw }}
          {{ method('PATCH')|raw }}
          <div class="sm:col-span-4">
            <label for="email" class="block text-sm font-medium text-gray-700">
              Adresse e-mail
            </label>
            <div class="mt-1 {% if errors('email') %}relative rounded-md shadow-sm{% endif %}">
              <input id="email" name="email" value="{{ old('email', user.email) }}" type="email"
                class="block w-full sm:text-sm rounded-md shadow-sm {% if errors('email') %}border-red-300 text-red-900 placeholder-red-300 focus:outline-none focus:ring-red-500 focus:border-red-500{% else %}focus:ring-indigo-500 focus:border-indigo-500 border-gray-300{% endif %}">
              {% if errors('email') %}
              <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                <svg class="h-5 w-5 text-red-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                  fill="currentColor">
                  <path fill-rule="evenodd"
                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                    clip-rule="evenodd" />
                </svg>
              </div>
              {% endif %}
            </div>
            {% if errors('email') %}
            <p class="mt-2 text-sm text-red-600">{{ errors('email')[0] }}</p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="pt-5">
        <div class="flex justify-end">
          <button type="submit"
            class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Modifier l'adresse e-mail
          </button>
        </div>
      </div>
    </form>

    <form action="{{ route('home.updatePassword') }}" method="POST" class="space-y-8 divide-y divide-gray-200"
      novalidate>
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Mot de passe
        </h3>
        <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
          {{ csrf_field()|raw }}
          {{ method('PATCH')|raw }}
          <div class="sm:col-span-4">
            <label for="password_old" class="block text-sm font-medium text-gray-700">
              Mot de passe actuel
            </label>
            <div class="mt-1 {% if errors('password_old') %}relative rounded-md shadow-sm{% endif %}">
              <input id="password_old" name="password_old" type="password"
                class="block w-full sm:text-sm rounded-md shadow-sm {% if errors('password_old') %}border-red-300 text-red-900 placeholder-red-300 focus:outline-none focus:ring-red-500 focus:border-red-500{% else %}focus:ring-indigo-500 focus:border-indigo-500 border-gray-300{% endif %}">
              {% if errors('password_old') %}
              <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                <svg class="h-5 w-5 text-red-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                  fill="currentColor">
                  <path fill-rule="evenodd"
                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                    clip-rule="evenodd" />
                </svg>
              </div>
              {% endif %}
            </div>
            {% if errors('password_old') %}
            <p class="mt-2 text-sm text-red-600">{{ errors('password_old')[0] }}</p>
            {% endif %}
          </div>

          <div class="sm:col-span-4">
            <label for="password" class="block text-sm font-medium text-gray-700">
              Mot de passe
            </label>
            <div class="mt-1 {% if errors('password') %}relative rounded-md shadow-sm{% endif %}">
              <input id="password" name="password" type="password"
                class="block w-full sm:text-sm rounded-md shadow-sm {% if errors('password') %}border-red-300 text-red-900 placeholder-red-300 focus:outline-none focus:ring-red-500 focus:border-red-500{% else %}focus:ring-indigo-500 focus:border-indigo-500 border-gray-300{% endif %}">
              {% if errors('password') %}
              <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                <svg class="h-5 w-5 text-red-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                  fill="currentColor">
                  <path fill-rule="evenodd"
                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                    clip-rule="evenodd" />
                </svg>
              </div>
              {% endif %}
            </div>
            {% if errors('password') %}
            <p class="mt-2 text-sm text-red-600">{{ errors('password')[0] }}</p>
            {% endif %}
          </div>

          <div class="sm:col-span-4">
            <label for="password_confirmation" class="block text-sm font-medium text-gray-700">
              Confirmation du mot de passe
            </label>
            <div class="mt-1">
              <input id="password_confirmation" name="password_confirmation" type="password"
                class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
            </div>
          </div>
        </div>
      </div>
      <div class="pt-5">
        <div class="flex justify-end">
          <button type="submit"
            class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Modifier le mot de passe
          </button>
        </div>
      </div>
    </form>
  </div>
</body>

</html>