<nav x-show="nav" class="self-end mt-6 text-xl leading-none text-right">
  <ul class="space-y-8">
    {% if auth().check() %}
    <li><a href="{{ route('home') }}" class="hover:underline">Mon compte</a></li>
    {% if auth().checkIsAdmin() %}
    <li><a href="../posts/create.html" class="hover:underline">Créer un post</a></li>
    {% endif %}
    <li>
      <a href="{{ route('logout') }}" @click="event.preventDefault();document.getElementById('logout-form').submit();" class="hover:underline">Déconnexion</a>
      <form method="POST" action="{{ route('logout') }}" id="logout-form" class="hidden">
        {{ csrf_field()|raw }}
      </form>
    </li>
    {% else %}
    <li><a href="{{ route('login.form') }}" class="hover:underline">Connexion</a></li>
    <li><a href="{{ route('register.form') }}" class="hover:underline">Inscription</a></li>
    {% endif %}
  </ul>
</nav>
